<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <title>Shivkumar Portfolio</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='.//css/style.css') }}">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- PARTICLES BACKGROUND -->
    <div id="particles-js"></div>

    <!-- HEADER / NAVBAR -->
    <header>
      <div class="logo">Shiva</div>

      <div class="menu-toggle" onclick="toggleMenu()">☰</div>

      <nav id="nav-menu">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>

    <!-- HERO SECTION -->
    <section id="home" class="hero">
      <div class="hero-text">
        <h1>Hello, I'm <span>Shivkumar</span></h1>
        <h2><span id="typing"></span></h2>
        <p>
          <p>
          Aspiring Data Scientist and AI/ML Engineer with strong hands-on experience in machine learning and deep learning projects, 
          passionate about building data-driven solutions to solve real-world problems.
          </p>
        </p>

        <div class="hero-buttons">
          <button onclick="scrollToSection('contact')">Hire Me</button>
          <a href="{{ url_for('static', filename='.//Shivkumar_Nevhal_AIML_.pdf') }}" download class="secondary">
            Download CV
          </a>
        </div>
      </div>

      <div class="hero-image">
        <img src="{{ url_for('static', filename='.//img/portfolio.png') }}" alt="Portfolio Image" />
      </div>
    </section>

    <!-- ABOUT SECTION -->
    <section id="about">
      <h2 class="section-title">About Me</h2>
      <div class="about-container">
        <div class="about-text">
          <p>
            I am Shivkumar Nevhal, an aspiring Data Scientist with strong
            knowledge of Python, Machine Learning and Deep Learning. I
            enjoy building intelligent AI systems and solving complex real-world
            problems.
          </p>
          <p>
            I have developed projects including AI voice Chatbots, Healthcare Stroke Risk Prediction application and Machine Learning models.
          </p>
        </div>
      </div>
    </section>

    <!-- SKILLS SECTION -->
    <section id="skills">
      <h2 class="section-title">Skills</h2>
      <div class="skills-grid">
        <div class="skill">Python</div>
        <div class="skill">Numpy</div>
        <div class="skill">Pandas</div>
        <div class="skill">Machine Learning</div>
        <div class="skill">Deep Learning</div>
        <div class="skill">ANN</div>
        <div class="skill">CNN</div>
        <div class="skill">RAG</div>
        <div class="skill">Lnag-Chain</div>
        
      </div>
    </section>

    <!-- PROJECTS SECTION -->
    <section id="projects">
      <h2 class="section-title">Projects</h2>
      <div class="projects-grid">
       <div class="project">
         <h3>Deep Learning Project | Stroke Risk Prediction (ANN) </h3>
         <p>
          Built and deployed an end-to-end ANN model to predict stroke risk using healthcare and 
lifestyle data, featuring real-time probability prediction and a Streamlit web app with full 
preprocessing pipeline. 
         </p>
          <p>
            <strong>Live Application:</strong>
            <a
              href="https://annhealthcare-9xegh9faeirddnnqkaeqmk.streamlit.app/"
              target="_blank"
            >View App</a>
          </p>
          <p>
            <strong>Source Code:</strong>
            <a
              href="https://github.com/ShivkumarNevhal/ANN_Healthcare"
              target="_blank"
            >GitHub Repository</a>
          </p>
       </div>

        <div class="project">
          <h3>AI-Powered Palm Leaf Nutrient Deficiency Detection System </h3>
          <p>
           Built a YOLOv8-based computer vision system to detect palm leaf nutrient deficiencies 
(Boron, Nitrogen, Magnesium, Potassium, Healthy) with a Streamlit web app and 
multilingual support; achieved mAP@0.5 of ~0.82 with a curated dataset of 9.5K images. 
          </p>
           <strong>Live Application:</strong>
            <a
              href="https://objectdetection-5qy7xuxpjk9cm2islmbyc2.streamlit.app/"
              target="_blank"
            >View App</a>
          </p>
        </div>
      </div>
    </section>

    <!-- CONTACT SECTION -->
    <section id="contact">
      <h2 class="section-title">Contact</h2>
      <form id="contactForm" class="contact-form">
        <input type="text" id="name" placeholder="Your Name" required />
        <input type="email" id="email" placeholder="Your Email" required />
        <textarea id="message" placeholder="Your Message" required></textarea>
        <button type="submit">Send Message</button>
      </form>
    </section>

    <!-- FOOTER -->
    <footer>
      <p>© 2026 Shivkumar Nevhal | Data Scientist</p>
    </footer>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
